* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #46575fff;
}

body {
    /*Main Grid*/
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 200px 2fr;
}

header {
    background-color: #fff;

    /*Main Grid*/
    grid-column-start: 2;
    grid-row: 1;

    /*Header Grid*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 75px 100px;
    align-items: center;
    justify-items: flex-start;
}

/*All Links*/
a {
    text-decoration: none;
}

a:hover {
    color: #fd8344ff;
}


/*Header Search Section*/

#search {
    /*Header Grid*/
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

input[type=text] {
    border-color: #fd8344ff;
    border-radius: 20px;
    width: 400px;
    height: 25px;
    padding-left: 10px;
    margin: 10px;
}


/*Header Profile Section*/

#profile {

    /*Flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#big {
    margin: 10px;
}

.tiny {
    width: 50px;
    height: 50px;

    margin: 10px;
}

header a {
    font-family: 'ibm_plex_sansmedium';
}


/*Header Salutation Section*/

#salutation {

    /*Flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#hello {
    font-family: 'ibm_plex_sanslight';
    font-size: 14px;
}

#your-name {
    font-family: 'ibm_plex_sansbold';
    font-size: 18px;
}


/*Button Container*/

button {
    background-color: #57acd4ff;
    color: #fff;
    font-family: 'ibm_plex_monobold';

    width: 80px;
    height: 35px;

    border: 0;
    border-radius: 20px;

    margin-right: 10px;
}

button:hover {
    background-color: #fd8344ff;
}

nav {
    background-color: #57acd4ff;
    font-family: 'ibm_plex_monomedium';
    font-size: 16px;

    padding: 10px;

    /*Main Grid*/
    grid-column-start: 1;
    grid-row: 1 / span 2;

    /*Nav Grid*/
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(12, 40px);
    align-items: center;
    justify-items: center;
}

.icon-container {
    /*Nav Grid*/
    grid-column: 1 / 2;
    grid-row: auto;
}

.link-container {
    /*Nav Grid*/
    grid-column: 2 / 2;
    grid-row: auto;
    justify-self: flex-start;
}

#logo {
    font-family: 'ibm_plex_monoitalic';
    font-size: 20px;
}

#logo-img {
    height: 25px;
    width: auto;
}

.icon {
    height: 16px;
    width: auto;
}

nav a {
    color: #d9eaf2ff;
}

section {
    background-color: #d9eaf2ff;
    padding: 10px;

    /*Grid*/
    grid-column-start: 2;
    grid-row: 2;

    /*Content Grid*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

#projects-container {
    /*Content Grid*/
    grid-column: 1 / 2;
    grid-row: span 2; 
}

h2 {
    font-family: 'ibm_plex_monobold';
    font-size: 16px;
    margin-bottom: 10px;
}

#projects {
    /*Project Grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.project {
    background-color: #fff;

    padding: 10px;
    border-radius: 20px;

    /*Project Icons Grid*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.project-icons {
    margin-top: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.space {
    padding-right: 10px;
}

h3 {
    font-family: 'ibm_plex_monobold';
    font-size: 14px;
}

p {
    font-family: 'ibm_plex_monomedium';
    font-size: 14px;
}

h4 {
    font-family: 'ibm_plex_monobold';
    font-size: 12px;
}

.tiny-font {
    font-size: 12px;
    margin-bottom: 10px;
}

#trending-grid {
    /*Trending Grid*/
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 70px 70px 70px 70px;
}

.trend-text {
    padding: 10px;
}

.trend-text p {
    font-size: 12px;
}

.bold {
    font-family: 'ibm_plex_sansbold';
}

.thin {
    font-family: 'ibm_plex_sanslight';
}

