* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: 1fr 2fr;
}

header {
    background-color: green;

    /*Grid*/
    grid-column: 4 / 12;
    grid-row: 1;
}

nav {
    background-color: #57acd4ff;
    font-family: 'ibm_plex_monomedium';
    font-size: 16px;

    padding: 10px;

    /*Grid*/
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

ul li {
    list-style: none;
}

li {
    /*Flex*/
    display: flex;
    align-items: center;
}

#logo {
    font-family: 'ibm_plex_monoitalic';
    font-size: 20px;
}

#logo-img {
    height: 25px;
    width: auto;
}

.icon {
    height: 16px;
    width: auto;

    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #d9eaf2ff;
}

a:hover {
    color: #fd8344ff;
}

section {
    background-color: #d9eaf2ff;

    /*Grid*/
    grid-column: 4 / 12;
    grid-row: 2;
}